<div class="">
    <h2 class="content-style">SMART SHEQ Main Dashboard</h2>
    <h3 class="header-style" style="text-align: center;" *ngIf="is_superuser">Welcome, Admin User</h3>
    <h3 class="header-style" style="text-align: center;" *ngIf="!is_superuser">Welcome {{ username }} | {{ oneuserDetails.specialist_area }}</h3>
    <hr>
    <div class="row" *ngIf="!loading">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center" *ngIf="is_superuser">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/patients']">
                        <img class="card-img-top img-fluid" src="assets/images/patient.png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">Patient Records ({{ userResults.length }})</h4>
                            <small>
                                <p class="card-text">View All Patient Records</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="userApproval.status == 'Approved' && is_superuser == false" class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/patients']">
                        <img class="card-img-top img-fluid" src="assets/images/patient.png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">Patient Records ({{ userResults.length }})</h4>
                            <small>
                                <p class="card-text">View All Patient Records</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="count == 0 && is_superuser == false" class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" (click)="saveRequest()">
                        <img class="card-img-top img-fluid" src="assets/images/patient.png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">Patient Records</h4>
                            <small>
                                <p class="card-text btn btn-primary"> Send Approval Request </p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="userApproval.status == 'Pending'" class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" (click)="pendingReq()">
                        <img class="card-img-top img-fluid" src="assets/images/patient.png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">Patient Records</h4>
                            <small>
                                <p class="card-text btn btn-warning">Pending Approval</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="userApproval.status == 'Rejected'" class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" (click)="rejectedReq()">
                        <img class="card-img-top img-fluid" src="assets/images/patient.png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">Patient Records</h4>
                            <small>
                                <p class="card-text btn btn-danger">Rejected Approval</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center" *ngIf="is_superuser">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/approvals']">
                        <img class="card-img-top img-fluid" src="assets/images/report.png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">Approval Requets ({{ userAllApproval.length }})</h4>
                            <small>
                                <p class="card-text">View all approval Requests</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center" *ngIf="is_superuser">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/users']">
                        <img class="card-img-top img-fluid" src="assets/images/patient (2).png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">View Users ({{ userDetails.length }})</h4>
                            <small>
                                <p class="card-text">View All users list</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
              <div class="card mb-4">
                <a [routerLinkActive]="['router-link-active']" [routerLink]="['/ims-04']">
                  <img class="card-img-top img-fluid" src="assets/images/dashboard/plan.png" alt="brand dev">
      
                  <div class="card-body">
                    <h4 class="card-title">IMS - 04</h4>
                    <small>
                      <p class="card-text">IMS Context of the organization</p>
                      <p class="card-text">Clause 4.0</p>
                    </small>
                  </div>
                </a>
              </div>
            </div>
          </div>
      
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
              <div class="card mb-4">
                <a [routerLinkActive]="['router-link-active']" [routerLink]="['/ims-05']">
                  <img class="card-img-top img-fluid" src="assets/images/dashboard/non-conforming.png" alt="packaging">
      
                  <div class="card-body">
                    <h4 class="card-title">IMS - 05</h4>
                    <small>
                      <p class="card-text">IMS Leadership and worker participation<p>
                      <p class="card-text">Clause 5.0</p>
                    </small>
                  </div>
                </a>
              </div>
            </div>
          </div>
      
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
              <div class="card mb-4">
                <a [routerLinkActive]="['router-link-active']" [routerLink]="['/ims-06']">
                  <img class="card-img-top img-fluid" src="assets/images/dashboard/she-reporting.png" alt="packaging">
      
                  <div class="card-body">
                    <h4 class="card-title">IMS - 06</h4>
                    <small>
                      <p class="card-text">IMS Planning</p>
                      <p class="card-text">Clause 6.0</p>
                    </small>
                  </div>
                </a>
              </div>
            </div>
          </div>
      
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
              <div class="card mb-4">
                <a [routerLinkActive]="['router-link-active']" [routerLink]="['/ims-07']">
                  <img class="card-img-top img-fluid" src="assets/images/dashboard/monitoring.png" alt="packaging">
      
                  <div class="card-body">
                    <h4 class="card-title">IMS - 07</h4>
                    <small>
                      <p class="card-text">IMS Support</p>
                      <p class="card-text">Clause 7.0</p>
                    </small>
                  </div>
                </a>
              </div>
            </div>
          </div>
      
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
              <div class="card mb-4">
                <a [routerLinkActive]="['router-link-active']" [routerLink]="['/ims-08']">
                  <img class="card-img-top img-fluid" src="assets/images/dashboard/investigation.png" alt="packaging">
      
                  <div class="card-body">
                    <h4 class="card-title">IMS - 08</h4>
                    <small>
                      <p class="card-text">IMS Operational Planning and Control</p>
                      <p class="card-text">Clause 8.0</p>
                    </small>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
              <div class="card mb-4">
                <a [routerLinkActive]="['router-link-active']" [routerLink]="['/ims-09']">
                  <img class="card-img-top img-fluid" src="assets/images/dashboard/evaluation.png" alt="packaging">
      
                  <div class="card-body">
                    <h4 class="card-title">IMS - 09</h4>
                    <small>
                      <p class="card-text">IMS Perfomace Evaluation</p>
                      <p class="card-text">Clause 9.0</p>
                    </small>
                  </div>
                </a>
              </div>
            </div>
          </div>
      
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
              <div class="card mb-4">
                <a [routerLinkActive]="['router-link-active']" [routerLink]="['/ims-10']">
                  <img class="card-img-top img-fluid" src="assets/images/dashboard/sustainable.png" alt="packaging">
      
                  <div class="card-body">
                    <h4 class="card-title">IMS - 10</h4>
                    <small>
                      <p class="card-text">IMS Improvement</p>
                      <p class="card-text">Clause 10.0</p>
                    </small>
                  </div>
                </a>
              </div>
            </div>
          </div>


        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/profile']">
                        <img class="card-img-top img-fluid" src="assets/images/patient.png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">Profile</h4>
                            <small>
                                <p class="card-text">View current profile</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <div *ngIf="loading" class="text text-center" style="margin-top: 10%;">
        <img style="height: 100px; width:auto;" src="assets/images/tenor.gif">
        <div class="text">
            Loading....
        </div>
    </div>
</div>