<div class="">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/approvals']">Approvals-List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Full Approval Details</li>
        </ol>
    </nav>
    <h2 class="header-style">Full Approval Details</h2>
    <hr>


    <div class="row" *ngIf="race">
        <!-- <h3 class="content-style" style="text-align: center;width: 100%;">{{ 'Submitted Results' }}</h3> -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <table class="table table-responsive table-hover table-striped" *ngIf="race">
                <thead>
                    <th>Variable Name</th>
                    <th>Details</th>
                </thead>

                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>{{ race.user.username }}</td>
                    </tr>
                    <!-- medicall_staffer -->
                    <tr>
                        <td>Medicall Staffer</td>
                        <td>{{ race.user.medicall_staffer }}</td>
                    </tr>

                    <tr>
                        <td>Specialist Area</td>
                        <td>{{ race.user.specialist_area }}</td>
                    </tr>

                    <tr>
                        <td>Email</td>
                        <td><a href="mailto: {{ race.user.email }}" target="_blank">{{ race.user.email }}</a></td>
                    </tr>

                    <!-- employee empNo, firstname, nextOfKim, nextOfKinContact, phoneNumber, race, route, surname, userName -->

                </tbody>
            </table>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <table class="table table-responsive table-hover table-striped" *ngIf="race">
                <thead>
                    <th>Variable Name</th>
                    <th>Details</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Approvedby</td>
                        <td>{{ race.approvedby.username }}</td>
                    </tr>

                    <tr>
                        <td>Status</td>
                        <td>{{ race.status }}</td>
                    </tr>

                    <tr>
                        <td>Timestamp</td>
                        <!-- <td>{{ race.timestamp }}</td> -->
                        <td>{{ race.timestamp | date }} {{ race.timestamp | date: 'shortTime' }}</td>
                    </tr>

                    <tr>
                        <td>Updated</td>
                        <!-- <td>{{ race.updated }}</td> -->
                        <td>{{ race.timestamp | date }} {{ race.timestamp | date: 'shortTime' }}</td>
                    </tr>
                </tbody>
            </table>

        </div>


        <div class="text text-center" *ngIf="race.status != 'Approved'" style="clear: both;width: 100%;margin-top: 2%;">
            <button type="submit" (click)="approveRequest(race.id)" class="btn btn-outline-primary btn-block">Approve</button>
        </div><br>

        <div class="text text-center" *ngIf="race.status == 'Approved'" style="clear: both;width: 100%;margin-top: 2%;">
            <button type="submit" (click)="rejectRequest(race.id)" class="btn btn-outline-danger btn-block ">Reject</button>
        </div>

    </div>
</div>