<div class="">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/patients']">Patients Records-List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Full Patient Details</li>
        </ol>
    </nav>
    <h2 class="header-style">Full Patient Details</h2>
    <hr>


    <div class="row">
        <!-- <h3 class="content-style" style="text-align: center;width: 100%;">{{ 'Submitted Results' }}</h3> -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <table class="table table-responsive table-hover table-striped" *ngIf="race">
                <thead>
                    <th>Variable Name</th>
                    <th>Details</th>
                </thead>

                <tbody>
                    <tr>
                        <td>Patient Name</td>
                        <td>{{ race.patient_name }}</td>
                    </tr>
                    <tr>
                        <td>Patient_ID</td>
                        <td>{{ race.patient_id }}</td>
                    </tr>

                    <tr>
                        <td>Patient History</td>
                        <td>{{ race.patient_history }}</td>
                    </tr>

                    <tr>
                        <td>Recommended Diagnosis</td>
                        <td>{{ race.recommended_diagnosis }}</td>
                    </tr>

                    <tr>
                        <td>Timestamp</td>
                        <td>{{ race.timestamp | date }} {{ race.timestamp | date: 'shortTime' }}</td>
                    </tr>

                    <!-- employee empNo, firstname, nextOfKim, nextOfKinContact, phoneNumber, race, route, surname, userName -->

                </tbody>
            </table>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <table class="table table-responsive table-hover table-striped" *ngIf="race">
                <thead>
                    <th>Variable Name</th>
                    <th>Details</th>
                </thead>
                <tbody>

                    <tr>
                        <td>Heart Rate</td>
                        <td>{{ race.heart_rate }}</td>
                    </tr>

                    <tr>
                        <td>Blood Pressure</td>
                        <td>{{ race.blood_pressure }}</td>
                    </tr>

                    <tr>
                        <td>Respiratory Rate</td>
                        <td>{{ race.respiratory_rate }}</td>
                    </tr>

                    <tr>
                        <td>Temperature</td>
                        <td>{{ race.temperature }}</td>
                    </tr>

                    <tr>
                        <td>Updated</td>
                        <td>{{ race.updated | date }} {{ race.updated | date: 'shortTime' }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>